<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="dns-prefetch" href="//g.alicdn.com">
        <link rel="dns-prefetch" href="//at.alicdn.com">
        <link rel="dns-prefetch" href="//gw.alicdn.com">
        <link rel="dns-prefetch" href="//api.m.taobao.com">
        <link rel="dns-prefetch" href="//cdn.mmstat.com">
        <link rel="dns-prefetch" href="//log.mmstat.com">
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="yes" name="apple-touch-fullscreen" />
        <meta content="telephone=no,email=no" name="format-detection" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <!--meta name="spm-id" content="a1z2q.7513492"/-->

        <title>请替换页面标题-<%= pageName%></title>

        <script>g_start = new Date();</script>

        <script src="//g-assets.daily.taobao.net/o2o/admix/0.1.6/admix-react.js"></script>

        <script>g_mstart = new Date();</script>

        <link rel="stylesheet" href="//g-assets.daily.taobao.net/o2o/admix/0.1.6/admix.css" />

        <!-- build:css -->
        <link rel="stylesheet" href="/.tmp/css/<%= pageName%>.css">
        <!-- endbuild -->

    </head>
    <body>

    </body>

    <!-- build:js -->
    <script src="/.tmp/js/<%= pageName%>.js"></script>
    <!-- endbuild -->

</html>
