<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="dns-prefetch" href="//g.alicdn.com">
        <link rel="dns-prefetch" href="//at.alicdn.com">
        <link rel="dns-prefetch" href="//gw.alicdn.com">
        <link rel="dns-prefetch" href="//api.m.taobao.com">
        <link rel="dns-prefetch" href="//cdn.mmstat.com">
        <link rel="dns-prefetch" href="//log.mmstat.com">
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="yes" name="apple-touch-fullscreen" />
        <meta content="telephone=no,email=no" name="format-detection" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <!--meta name="spm-id" content="a1z2q.7513492"/-->

        <title>请替换页面标题-<%= pageName%></title>

        <script>g_start = new Date();</script>

        <script src="//g-assets.daily.taobao.net/o2o/admix/0.1.6/admix-react-web.js?max-age=31536000000"></script>

        <script>g_mstart = new Date();</script>

        <link rel="stylesheet" href="//g-assets.daily.taobao.net/o2o/admix/0.1.6/admix-web.css?max-age=31536000000" />
        <link rel="stylesheet" href="https://unpkg.com/antd/dist/antd.min.css" />

        <!-- build:css -->
        <link rel="stylesheet" href="/.tmp/css/<%= pageName%>.css">
        <!-- endbuild -->

        <script>
            window.systemData = {
                alipayAccount : '15339452305',
                alipayCaeSigned : true,
                avatarUrl : '//wwc.alicdn.com/avatar/getAvatar.do?width=160&height=160&type=sns&userId=3640992416',
                cityId : 120100,
                cityName : '天津市市辖区',
                cmsUserType : 5,
                ingotsRatio : 0.01,
                isMainAccount : true,
                mainUserId : 3640992416,
                mainUserNick : 'pos_s01',
                merchantId : 7,
                merchantType : 3,
                nick : 'pos_s01',
                siteId : 10582365,
                siteName : '城西银泰',
                status : 2,
                storeId : 10582374,
                storeName : 'COLD STONE酷圣石',
                userId : 3640992416
            };
            window.menuData = [
                {
                    "iconCls": "store",
                    "isCurrent": true,
                    "subList": [
                        {
                            "title": "我的员工",
                            "url": "/html/store.html#/myemployee"
                        },
                        {
                            "title": "基础信息",
                            "url": "/html/store.html#/mystoredetail"
                        }
                    ],
                    "title": "门店管理",
                    "url": "/html/store.html"
                },
                {
                    "iconCls": "finance",
                    "subList": [
                        {
                            "title": "订单列表",
                            "url": "/html/finance.html#/orderlist"
                        }
                    ],
                    "title": "财务管理",
                    "url": "/html/finance.html"
                },
                {
                    "iconCls": "thread",
                    "subList": [
                        {
                            "title": "创建内容",
                            "url": "/html/thread.html#/add"
                        },
                        {
                            "title": "内容管理",
                            "url": "/html/thread.html#/list"
                        },
                        {
                            "title": "创建活动",
                            "url": "/html/activity.html#/activityedit"
                        },
                        {
                            "title": "活动列表",
                            "url": "/html/activity.html#/activitylist"
                        }
                    ],
                    "title": "导购内容管理",
                    "url": "/html/thread.html"
                },
                {
                    "iconCls": "trade",
                    "subList": [
                        {
                            "title": "销售数据",
                            "url": "/html/trade.html#/consume"
                        },
                        {
                            "title": "券数据",
                            "url": "/html/trade.html#/sale"
                        },
                        {
                            "title": "退款数据",
                            "url": "/html/trade.html#/refund"
                        }
                    ],
                    "title": "数据报表",
                    "url": "/html/trade.html"
                }
            ];
        </script>

    </head>
    <body>
        <input name="_tb_token_" type="hidden" value="EU3jdsSXkkdu66">
        <div id="container"></div>
    </body>

    <!-- build:js -->
    <script src="/.tmp/js/<%= pageName%>.js"></script>
    <!-- endbuild -->

</html>
